* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
}
.logo {
  height: 50px;
}
header {
  display: inline-flex;
  align-items: center;
  align-content: center;
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;
}
video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  z-index: -1;
}
.overlay {
  padding: 13vw 6vw;
  background-color: transparent;
  z-index: 1;
  width: 100%;
}
.title {
  font-size: 50px;
  font-weight: 600;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 4px;
  width: 100%;
}
.not-found-background {
  position: center;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/* Footer Styling */
.footer {
  background-color: transparent;
  color: #fff;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.footer h4 {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.footer .col-md-4 {
  text-align: center;
  list-style: none;
}

.footer a {
  color: #fff;
  text-decoration: none;
  display: inline;
  font-weight: bold;
}

.footer a:hover {
  color: #f92d2d;
}

.row {
  width: 100%;
}
/* Card styling*/

.potluck-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin: 20px;
}

.potluck-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.potluck-card-img-top {
  width: 100%;
  height: auto;
}

.potluck-card-body {
  padding: 15px;
}

.recipe-button,
.potluck-button {
  background-color: #e6a756;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  align-items: center;
  margin-top: 0.5rem;
}

.recipe-button:hover,
.potluck-button:hover {
  background-color: darken(#e6a756, 10%);
}

.flex-recipes,
.flex-potluck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Enhance the visual styling of the recipe details */
.recipe-details-body {
  padding: 10rem;
}

.recipe-details-text {
  text-align: center;
}
